@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@import "./utils/variables";
//@import "./utils/mixins";
//@import "./utils/functions";
@import "./layout/header";
@import "./layout/nav";
@import "./layout/footer";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, serif;
}

span, p {
    font-weight: normal;
    font-size: 16px;
    padding: 0.5rem 0.5rem;
    line-height: 1;
}

body {
    font: 100% $font-stack;
    color: $neutral-color-500;
}

.spinner {
    color: $primary-color;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale (3, 0.5);
    animation: disappearance 1s 2s forwards;
    &:hover {
        color: $neutral-color-400;
        transition: 1s;
    }
}

.contenu {
    animation: apparition 1s 2s forwards;
    opacity: 0;
}

@keyframes disappearance {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes apparition {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.reservation {
    background-color: $neutral-color-200;
    margin: 0.5rem 0rem;
    & h2 {
        display: flex;
        justify-content: center;
        line-height: 1;
    }
    & .location {
        padding: 0.5rem 0.5em;
        background-color: $neutral-color-300;
        display: flex;
        justify-content: center;
        border-top: 0.1rem solid $neutral-color-400;
        box-shadow: 1.5rem 2rem 2rem 0.5rem $neutral-color-300; /*chiffres à revoir*/
        & input {
            background-color: $neutral-color-300;
            border: none;
        }
    }
    & .select_menu {
        background-color: $neutral-color-200;
        padding: 1.5rem 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & button {
            color: $neutral-color-100;
            background-image: linear-gradient($secondary-color, $primary-color);
            border-radius: 5rem;  
            padding: 0.8rem 0.8rem;
            width: 50%;
            display: flex;
            justify-content: center;
            box-shadow: 0.3rem 0.3rem 0.15rem $neutral-color-300;
        }
    }
}

.functioning_restaurants {
    display: flex;
    flex-direction: column;
    width: 100%;
    .functioning {
        margin-top: 2rem;
        margin-left: 2rem;
        padding: 0.8rem 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        & h3 {
            line-height: 1;
            margin-bottom: 1rem;
        }
        & div {
            background-color: $neutral-color-200;
            border-radius: 2rem;
            padding: 1rem 1rem;
            margin-bottom: 1rem;
            width: 75%;
            box-shadow: 0.3rem 0.3rem 0.15rem $neutral-color-300;
            align-items: baseline;
            & .number {
                border-radius: 50%;
                border: 0.5rem solid $primary-color;
                background-color: $primary-color;
                color: $neutral-color-100;
                font-size: 0.8rem;
                padding: 0.02rem 0.2rem;
                margin: 0 1.5rem 0 -1.5rem;
            }
            & i {
                padding: 0 0.7rem 0 0;
            }
        }
        & div:hover {
            background-color: lighten($primary-color, 30%);
            & i {
                color: darken($primary-color, 10%);
            }
        }
    }
    .restaurants {
        margin-top: 2rem;
        padding: 0.8rem 0.8rem;
        line-height: 1.5rem;
        background-color: $neutral-color-200;
        width: 100%;
        display: flex;
        justify-content: center;
        & h3 {
            display: flex;
            justify-content: left; /*ne fonctionne pas*/
            margin-bottom: 1rem;
        }
        & .cards {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 2rem;
            width: 80%;
            & .element {
                width: 100%;
                justify-content: center;
                align-items: center;
                background-color: $neutral-color-100;
                border-radius: 1.5rem;
                height: 15rem;
                margin: 1rem 1rem;
                box-shadow: 0.3rem 0.3rem 0.15rem $neutral-color-300;
                & .palette-du-gout {
                    background-image: url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
                    height: 170px;
                    border-top-right-radius: 1.5rem;
                    border-top-left-radius: 1.5rem;
                }
                & img {
                    border-radius: 1.5rem 1.5rem 0 0;
                    object-fit: cover;
                    height: 10rem;
                    width: 100%;
                }
                & .nouveau1, & .nouveau2 {
                    color: darken($tertiary-color, 35%);
                    background-color: $tertiary-color;
                    border-radius: 0.5rem;
                }
                & .nouveau1 {
                    position: relative;
                    top: 672px;
                    right: 96px; /*sort de l'image quand la taille de l'écran augmente*/
                }
                & .nouveau2 {
                    position: relative;
                    top: 575px;
                    right: -370px; /*idem*/
                }
                & .description {
                    border-radius: 0 0 1.5rem 1.5rem;
                    height: 5rem;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 0rem 1rem;
                    & .text {
                        line-height: 0.5;
                            & .title {
                                font-weight: 700;
                                & a {
                                    text-decoration-line: none;
                                    color: $neutral-color-500;
                                }
                            }
                    }
                }
            }
        }
    }
}

//responsive
@media screen and (min-width: 601px) and (max-width: 1000px) {
    .functioning_restaurants {
        display: flex;
        flex-direction: column;
        & .restaurants {
            display: flex;
            flex-direction: column;
            & h3 + div {
                align-items: baseline;
            }
        }
    }
}

@media screen and (min-width: 1001px) {
    .functioning_restaurants {
        display: flex;
        flex-direction: column;
        & .functioning {
            display: flex;
            flex-direction: row;
            & div {
                width: 40%;
                margin-right: 3rem;
            }
        }
        & .restaurants {
            display: flex;
            & .cards {
                width: 50%;
                flex-direction: row;
                & .element {
                    width: 40%;
                }
            }
        }
    }
}