@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import "scss/fontawesome.scss";
@import "scss/solid.scss";

@import "./utils/variables";
//@import "./utils/mixins";
//@import "./utils/functions";
@import "./layout/header-menu";
@import "./layout/nav";
@import "./layout/footer";


* {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    font-family: Roboto, serif;
}

section {
    background-color: lighten($neutral-color-200, 5%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    & .image {
        height: 8em;
        width: 100%;
        object-fit: cover;
    }
    & .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: sticky;
        padding: 1rem 1rem;
        margin-top: -50px;
        border-radius: 5rem 5rem 0 0;
        & h2 {
            font-family: Shrikhand;
            margin: 1rem 1rem;
        }
        & h3 {
           text-transform: uppercase;
           font-weight: 400;
           font-size: 1rem;
           margin: 1rem 1rem;
           width: 8%;
           padding-bottom: 0.5rem;
           border-bottom: 0.25rem solid $tertiary-color;
        }
        & .starter, & .main-course, & .dessert {
            color: $neutral-color-500;
            border-radius: 1rem;
            background-color: $neutral-color-100;
            padding: 1rem 1rem;
            margin: 0.5rem 0.5rem;
            box-shadow: 0.3rem 0.3rem 0.15rem $neutral-color-300;
            & :hover {
                cursor: pointer;
            }
            & .details {
                display: flex;
                align-items: baseline;
                & .precision {
                    margin: 0 2rem 0 0;
                }
                & .price {
                    margin: 0 0 0 auto;
                }
            }
        & button {
            color: $neutral-color-100;
            background-image: linear-gradient($secondary-color, $primary-color);
            border-radius: 5rem;  
            padding: 0.8rem 0.8rem;
            width: 50%;
            display: flex;
            justify-content: center;
            margin: 1.5rem auto;
            box-shadow: 0.3rem 0.3rem 0.15rem $neutral-color-300;
            & :hover {
                cursor: pointer; /*à revoir*/
            }
        }
    }
    }
}
.menu .starter {
    animation: apparition 3s backwards 2s 1;
}
.menu .main-course {
    animation: apparition 3s backwards 5s 1;
}
.menu .dessert {
    animation: apparition 3s backwards 7s 1;
}
@keyframes apparition {
    from {
        bottom: 400px;
        opacity: 0;
    }
    to {
        bottom: 100px;
        opacity: 1;
    }
}
.text_info, .text_choose {
    align-items: baseline;
}

.text_choose {
    width: 1rem;
    height: 1rem;
    position: relative;
    background-color:$tertiary-color;
    transition: transform 1s ease 0.2s;
    & :hover {
        display: inline-block;
        transform: translateX(100px);
        /*animation: checkbox-appear 3s;*/
    }
}

/*@keyframes checkbox-appear {
    0% {
        right: 0px;
        transform: scale(0);
        background-color: $neutral-color-100;
    }
    50% {
        right: 5px;
        transform: scale(0.5);
        background-color:$tertiary-color;
    }
    100% {
        right: 10px;
        transform : scale(1);
        background-color:$tertiary-color;
    }
}*/

.precision, .price {
    display: flex;
}

.title, .price {
    font-weight: 700;
}
