$font-logo-title: Shrikhand, OpenSans, Montserrat, Raleway;
$font-stack: Roboto, sans-serif;
$fa-font-path: "../webfonts";
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$neutral-color-100: #fff;
$neutral-color-200: #e6e3e3;
$neutral-color-300: #d3d3d3;
$neutral-color-400: #c0b7b7;
$neutral-color-500: #000;