@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import "./scss/fontawesome.scss";
@import "scss/solid.scss";

@import "./utils/variables";
@import "./layout/header-menu";
@import "./layout/footer";

//animation : coeur qui se remplit
.heart {
    background-image: url("../../images/svg/heart-thin.svg");
    background-repeat: no-repeat;
    width: 1.5em;
    height: 1.5em;
    margin: 16px;
    &:hover {
        background-image: url("../../images/svg/heart.svg");
    }
}


//précisions générales
* {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    font-family: Roboto, serif;
}

p {
    margin: 0 0 0 0;
}

//section
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & .image {
        height: 15em;
        width: 100%;
        object-fit: cover;
    }
    & .menu {
        width: 100%;
        background-color: $neutral-color-200;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: sticky;
        padding: 1em 1em;
        margin-top: -40px;
        border-radius: 2.5em 2.5em 0 0;
        & .title_menu {
            display: flex;
            flex-direction: row;
            & h2 {
                align-items: left;
                font-family: Shrikhand;
                margin-right: 5em;
            }
            & .heart {
                margin-left: auto;
                margin-right: auto;
            }
        }
        & h3 {
           text-transform: uppercase;
           font-weight: 400;
           font-size: 1em;
           margin: 2em 0 1em 1em;
           width: 8%;
           padding-bottom: 0.5em;
           border-bottom: 0.25em solid $tertiary-color;
        }
        & .plat {
            width: 20em;
            color: $neutral-color-500;
            border-radius: 1em;
            background-color: $neutral-color-100;
            margin: 0.5em 0.5em;
            box-shadow: 0.3em 0.3em 0.15em $neutral-color-300;
            & :hover {
                cursor: pointer;
            }
            & .price {
                display: flex;
                margin: 0 1em 0 auto;
                }
            }
        }
        button {
            color: $neutral-color-100;
            background-image: linear-gradient($secondary-color, $primary-color);
            border-radius: 5em;  
            padding: 0.8em 1.5em;
            display: flex;
            justify-content: center;
            margin: 1.5em auto;
            box-shadow: 0.3em 0.3em 0.15em $neutral-color-300;
            cursor: pointer;
        }
    }

//animation : apparition progressive des cartes du menu
.menu .entree1 {
    animation: apparition 3s backwards 0.5s 1;
}
.menu .entree2 {
    animation: apparition 3s backwards 1s 1;
}
.menu .entree3 {
    animation: apparition 3s backwards 1.5s 1;
}
.menu .entree4 {
    animation: apparition 3s backwards 2s 1;
}
.menu .plat1 {
    animation: apparition 3s backwards 2.5s 1;
}
.menu .plat2 {
    animation: apparition 3s backwards 3s 1;
}
.menu .plat3 {
    animation: apparition 3s backwards 3.5s 1;
}
.menu .douceur1 {
    animation: apparition 3s backwards 4s 1;
}
.menu .douceur2 {
    animation: apparition 3s backwards 4.5s 1;
}
.menu .douceur3 {
    animation: apparition 3s backwards 5s 1;
}

@keyframes apparition {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.starter, .main-course, .dessert {
    display: flex;
    flex-direction: row;
    width: 80%;
}

//animation : apparition de la div "text_choose"
.text_info {
    width: 60%;
    margin: 0;
    padding: 1em 0 1em 1em;
}

.text_choose {
    margin-right: -2.5em;
    display: flex;
    justify-content: flex-end;
    position: relative;
    transition: 1s;
}

.precision {
    font-size: 0.85em;
}

.plat {
    overflow: hidden;
    .title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .precision {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.plat {
    &:hover {
        cursor: pointer;
        .title {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .precision {
            width: 70%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .text_choose {
            margin-right: 0;
            transition: 1s;
            display: flex;
            align-items: center;
            .price {
                margin:0;
            }
            .checkbox {
                color: white;
                background-color: $tertiary-color;
                margin-left: 0.5em;
                padding: 1.5em 1.5em 1.2em 1.5em;
                border-radius: 0 1em 1em 0;
                i {
                    animation: checkbox-rotation 1s;
                }
            }
        }
    }
}

@keyframes checkbox-rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.fa-check-circle {
    font-size: 1.5em;
}

.title, .price {
    font-weight: 700;
}

.price {
    padding: 0 0.5em;
}

// Design adapté aux différentes tailles d'écran
//tablettes
@media screen and (min-width: 601px) and (max-width: 1000px) {
    section {
        .image {
            height: 15em;
            object-fit: cover;
        } 
        .menu {
            display: flex;
            margin-top: -40px;
            & .title_menu {
                display: flex;
                flex-direction: row;
                & h2 {
                    align-items: left;
                    font-family: Shrikhand;
                    margin-left: 0.5em;
                    margin-right: 5em;
                }
                & .heart {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            .first, .second, .third {
                width: 100%;
            }
            .plat {
                width: 30em;
                margin: 0.5em auto;
            }
        }
    }
}

//ordinateurs
@media all and (min-width: 1001px) {
    section {
        .image {
            height: 15em;
            object-fit: cover;
        } 
        .menu {
            display: flex;
            margin-top: -40px;
            & .title_menu {
                display: flex;
                flex-direction: row;

                & h2 {
                    align-items: left;
                    font-family: Shrikhand;
                    margin-left: 0.5em;
                    margin-right: 5em;
                }
                & .heart {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            .first, .second, .third {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                width: 100%;
                .plat {
                    width: 30%;
                }
            }
        }
    }
}