@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import "./scss/fontawesome.scss";
@import "scss/solid.scss";

@import "./utils/variables";
//@import "./utils/mixins";
//@import "./utils/functions";
@import "./layout/header-menu";
@import "./layout/nav";
@import "./layout/footer";

//animation : coeur qui se remplit
.heart {
    width: 1.25em;
    & path {
        fill: transparent;
        stroke-width: 30;
        stroke: $primary-color; //linear-gradient(to left top, $primary-color, $secondary-color);
    }
}
.heart:hover path {
    animation: animate-heart 2s linear forwards;
    transition: 0.1s ease 0s;
}

@keyframes animate-heart {
    0% {
        fill: transparent;
    }
    100% {
        fill: $primary-color; //linear-gradient (to left top, $primary-color, $secondary-color);
    }
}

//précisions générales
* {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    font-family: Roboto, serif;
}

p {
    margin: 0 0 0 0;
}

//section
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & .image {
        height: 15em;
        width: 100%;
        object-fit: cover;
    }
    & .menu {
        width: 100%;
        background-color: $neutral-color-200;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: sticky;
        padding: 1em 1em;
        margin-top: -40px;
        border-radius: 2.5em 2.5em 0 0;
        & .title_menu {
            display: flex;
            flex-direction: row;
            & h2 {
                align-items: left;
                font-family: Shrikhand;
                margin-left: 0.5em;
                margin-right: 5em;
            }
            & .heart {
                margin-left: auto;
                margin-right: auto;
            }
        }
        & h3 {
           text-transform: uppercase;
           font-weight: 400;
           font-size: 1em;
           margin: 1em 1em;
           width: 8%;
           padding-bottom: 0.5em;
           border-bottom: 0.25em solid $tertiary-color;
        }
        & .plat {
            width: 25em;
            color: $neutral-color-500;
            border-radius: 1em;
            background-color: $neutral-color-100;
            margin: 0.5em 0.5em;
            box-shadow: 0.3em 0.3em 0.15em $neutral-color-300;
            & :hover {
                cursor: pointer;
            }
            //& .precision {
            //        margin: 0 2em 0 0;
            //    }
            & .price {
                display: flex;
                //align-items: baseline; //ne fonctionne pas: prix décalé vers le haut avec le hover
                margin: 0 1em 0 auto;
                }
            }
        }
        button {
            color: $neutral-color-100;
            background-image: linear-gradient($secondary-color, $primary-color);
            border-radius: 5em;  
            padding: 0.8em 1.5em;
           //width: 100%;
            display: flex;
            justify-content: center;
            margin: 1.5em auto;
            box-shadow: 0.3em 0.3em 0.15em $neutral-color-300;
            & :hover {
                cursor: pointer; //inactif
            }
        }
    }

//animation : apparition progressive des cartes du menu
.menu .entree1 {
    animation: apparition 3s backwards 0.5s 1;
}
.menu .entree2 {
    animation: apparition 3s backwards 1s 1;
}
.menu .entree3 {
    animation: apparition 3s backwards 1.5s 1;
}
.menu .entree4 {
    animation: apparition 3s backwards 2s 1;
}
.menu .plat1 {
    animation: apparition 3s backwards 2.5s 1;
}
.menu .plat2 {
    animation: apparition 3s backwards 3s 1;
}
.menu .plat3 {
    animation: apparition 3s backwards 3.5s 1;
}
.menu .douceur1 {
    animation: apparition 3s backwards 4s 1;
}
.menu .douceur2 {
    animation: apparition 3s backwards 4.5s 1;
}
.menu .douceur3 {
    animation: apparition 3s backwards 5s 1;
}

@keyframes apparition {
    from {
        bottom: 400px;
        opacity: 0;
    }
    to {
        bottom: 100px;
        opacity: 1;
    }
}

.starter, .main-course, .dessert {
    display: flex;
    flex-direction: row;
    width: 80%;
}

//animation : apparition de la div "text_choose"
.text_info {
    //width: 100%;
    width: 69%;
    margin:0;
    padding: 1em 0 1em 1em;
}
.precision {
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}
.text_choose {
    margin-right: -2.5em;
    //width: 2.5em;
    display: flex;
    justify-content: flex-end;
    position: relative;
    transition: 1s;
}

.plat:hover {
    cursor: pointer;
    .text_choose {
        margin-right: 0;
        transition: 1s;
        display: flex;
        align-items: center;
        .price {
            margin:0;
        }
        .checkbox {
            color: white;
            background-color: $tertiary-color;
            margin-left: 0.5em;
            animation: checkbox-rotation 1s;
            padding: 1.5em 1.5em;
            border-radius: 0 1em 1em 0;
        }
    }
}

@keyframes text_choose-appear {
    from {
        transform: scale(0);   
    }
    to {
        transform: scale(1);
        transition: transform 1s ease 0.2s;
    }
}

@keyframes checkbox-rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.fa-check-circle {
    font-size: 1.5em;
}

.title, .price {
    font-weight: 700;
}

.price {
    padding: 0 0.5em; //ajout
}

// Design adapté aux différentes tailles d'écran
@media screen and (min-width: 1001px) {
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80%; // inactif

        .first, .second, .third {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
        }
        .plat {
            display: flex;
            flex-direction: column;
            width: 30em;
        }
    }
}