header {
    color: $neutral-color-500;
    height: 8rem;
    & .logo {
        display: flex;
        justify-content: center;
        font-size: 2.5rem;
        font-family: $font-logo-title;
    }
}
